strong {font-weight:700;color:var(--c2);}
b {font-weight:700;color:var(--c2);}
mark {font-weight:700;color:var(--c2);}
time {font-weight:700;color:var(--c2);}
span {font-size:18px;}
p {font-size:18px;font-weight:400;}


article {display:flex;justify-content:space-between; gap:8px;flex:1 1 320px;}

body {width:100%; display:flex; flex-direction:column;justify-content:space-between;min-height:100vh;padding:0px 8px;}
main {width:100%; display:flex;flex:1 1 auto;}


input {background:var(--c4);padding:16px 8px;border-radius:8px;}
input::placeholder {color:var(--c6);}
input {color:var(--c3);}

textarea {background:var(--c4);padding:8px;;border-radius:8px;}
textarea::placeholder {color:var(--c6);font-size:14px;}
textarea {color:var(--c3);font-size:14px;}

header {position:sticky;left:0;top:0;z-index:9;background:rgba(255,255,255,0.8);}
address {}

.page {
    display: flex;
}
.nav_menu {
    display: none;
}
.hidden {
    display: none;
}
.flex {
    display: flex;
}

.nav_menu a:hover {
    border-bottom:1px solid var(--c3);
}

.arrow {
    position: relative;
}
.arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6px;
    transform: translateY(-50%) rotate(90deg);
    transition: all 0.5s ease;
}
.arrow_c4::after {
    border-color: transparent transparent transparent var(--c4); /* Цвета треугольника */
}
.arrow_c1::after {
    border-color: transparent transparent transparent var(--c1); /* Цвета треугольника */
}
.arrow:hover::after {
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.5s ease;
}
.arrow:hover::focus {
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.5s ease;
}


#p1 {
    display: none; /* Изначально скрыт */
}

#p1.visible {
    display: flex; /* Показывать при добавлении класса visible */
}

.article_img {
    width:100%;
}

.icon {
    width:28px;
}

.arrow_link {
    display:flex;
    align-items:center;
    justify-content:center;
    height:32px;
    width:32px;
    background:var(--c3);
    color:var(--c4);
    border-radius:50%;
}

.pag {
    display:flex;
    align-items:center;
    gap:8px;
    padding-top:8px;
    padding-bottom:8px;
}

.pag_active {
    color:var(--c3);
    border:3px solid var(--c3);
}
.pag span {
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid var(--c2);
    height:40px;
    width:40px;
    border-radius:4px;
}
.pag span:hover {
    opacity:.5;
}

/* {
    border:1px solid green;
}
