strong {font-weight:700;color:var(--c4);}
b {font-weight:700;color:var(--c4);}
mark {font-weight:700;color:var(--c4);}
time {font-weight:700;color:var(--c4);}
span {font-size:18px;}
p {font-size:18px;}


section {flex:1 1 auto; border-bottom:1px solid var(--c4);}
article {display:flex;justify-content:space-between; gap:8px;flex:1 1 320px;}

body {width:100%; display:flex; flex-direction:column;justify-content:space-between;min-height:100vh;padding:0px 8px;}
main {width:100%; display:flex;flex:1 1 auto;}


input {background:var(--c5);padding:4px;border-radius:8px;}
input::placeholder {color:var(--c3);}
input {color:var(--c1);}


address {}

.img_logo {
    width:200px;
    height:200px;
}


.page {
    display: flex;
}
.nav_menu {
    display: none;
}
.hidden {
    display: none;
}
.flex {
    display: flex;
}

.nav_menu a:hover {
    border-bottom:1px solid var(--c3);
}

.arrow {
    position: relative;
}
.arrow::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6px;
    transform: translateY(-50%) rotate(90deg);
    transition: all 0.5s ease;
}
.arrow_c4::after {
    border-color: transparent transparent transparent var(--c4); /* Цвета треугольника */
}
.arrow_c1::after {
    border-color: transparent transparent transparent var(--c1); /* Цвета треугольника */
}
.arrow:hover::after {
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.5s ease;
}
.arrow:hover::focus {
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.5s ease;
}


#p1 {
    display: none; /* Изначально скрыт */
}

#p1.visible {
    display: flex; /* Показывать при добавлении класса visible */
}



/* {
    border:1px solid green;
}
