@media (max-width: 736px) {
    .n736 {display:none;}
}
@media (max-width: 608px) {
    .fw608 {flex-wrap:wrap;}
}
@media (max-width: 512px) {
    .wrap_list {flex-direction:column;}
    .wrap_list .wrap_list__icons {flex-direction:row;}
    .wrap_list .col1 {flex-direction:row;justify-content:space-between;}
    .fw512 {flex-wrap:wrap;}
}